.top {
    position: relative;
    &::after {
        background: #F3FCFF;
        content: '';
        position: absolute;
        width: 200%;
        top: 0;
        right: 38%;
        height: 100%;
        z-index: -1;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

    }
    &__container {
        display: flex;
        column-gap: 20px;
        padding-top: 224px;
        @media (max-width: $mobileSmall) {
            display: block;
        }
    }
    &__column-left {
        flex: 0 1 60%;
        @media (max-width: $mobile) {
            flex: 0 1 100%;
        }
    }
    &__column-right {
        flex: 0 1 40%;
        @media (max-width: $mobile) {
            flex: none;
        }
    }
    &__title {
        max-width: 687px;
        @include adaptiveValue("font-size", 44, 32);
        line-height: calc(54 / 44 * 100%);
        color: #195B84;
        text-transform: uppercase;
        letter-spacing: 0.64px;
        padding-bottom: 40px;
        position: relative;
       
        &::before {
            content: "";
            background: url(../img/line-icon.png) no-repeat center;
            background-size: cover;
            width: 299px;
            height: 368px;
            position: absolute;
            bottom: -146%;
            right: -2%;
            z-index: 1000;
            @media (max-width: 1170px) {
                display: none;
            }
        }
        span {
            color: #2DAFD7;
        }
    }
    &__picture {
        position: relative;
        display: block;
        padding-bottom: 140%;
        margin-top: -65px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -50%;
            transform: translate(50%, 0);
            object-fit: cover;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__form {
        max-width: 380px;
        input[type="text"],
        input[type="email"],
        input[type="phone"],
        input[type="submit"] {
            max-width: 380px;
            width: 100%;
            border-radius: 5px;
            outline: none;
        }
        input[type="text"],
        input[type="email"],
        input[type="phone"] {
            padding: 18px 49px;
            box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
            border-radius: 5px;
            margin-bottom: 15px;
            &::placeholder {
                font-size: 16px;
                line-height: calc(24 / 16 * 100%);
                color: #99BBC6;
                font-weight: normal;
                font-family: $fontFamilyPoppins;
            }
        }
        input[type="submit"] {
            display: inline-block;
            margin-top: 15px;
            background: #2DAFCD;
            box-shadow: 15px 5px 20px rgba(45, 175, 215, 0.2);
            padding: 23px 5px;
            font-size: 16px;
            line-height: calc(24 / 16 * 100%);
            color: #fff;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: #005570;
            }
        }
        input[type="text"] {
            background: #fff url(../img/icon-user.svg);
            background-repeat: no-repeat;
            background-position: 14px 18px;
        }
        input[type="email"] {
            background: #fff url(../img/icons-mail.svg);
            background-repeat: no-repeat;
            background-position: 14px 18px;
        }
        input[type="phone"] {
            background: #fff url(../img/icon-phone.svg);
            background-repeat: no-repeat;
            background-position: 14px 18px;
        }
    }
}
/*==========================================================================*/
.bottom-top {
    padding-top: 140px;
    padding-bottom: 98px;
    &__container {
        display: grid;
        column-gap: rem(30);
        row-gap: rem(80);
        grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
        background: #FFFFFF;
        box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
        border-radius: 5px;
        padding: 60px 5px;
    }
    &__content {
        text-align: center;
    }
    &__column {
        position: relative;
        z-index: 2;
        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: -40px;
            right: 0;
            transform: translate(9px, 0px);
            width: 5px;
            height: 150px;
            background: url(../img/vertical-line.png) 0 0 / 100% no-repeat;
            @media (max-width: 1170px) {
                background-image: none;
            }
        }
    }
    &__title {
        font-size: 20px;
        line-height: calc(30 / 20 * 100%);
        font-weight: 700;
        color: #195B84;
        text-transform: uppercase;
        padding-bottom: 6px;
    }
    &__number {
        font-size: 144px;
        line-height: calc(216 / 144 * 100%);
        color: rgba(246, 246, 246, 0.8);
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        z-index: -1;
    }
}
/*=================================================================*/
.how-make-money-signals {
    padding-top: 88px;
    padding-bottom: 88px;
    &__title {
        @include adaptiveValue("font-size", 36, 28);
        line-height: calc(44 / 36 * 100%);
        color: #195B84;
        text-align: center;
        font-weight: 700;
        font-family: $fontFamilyPoppins;
        letter-spacing: 0.64px;
        max-width: 687px;
        margin: auto;
        padding-bottom: 81px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    &__column-left, &__column-right {
        flex: 0 1 390px;
    }
    &__column-left {
        @media (max-width: $tablet) {
            margin-bottom: 40px;;
        }
    }
    &__center {
        flex: 0 1 306px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &__row {
        background: #F4F9FF;
        box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
        border-radius: 5px;
        padding: 24px 20px;
        min-height: 180px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    &--line-right {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -94px;
            transform: translate(0, -50%);
            background-color: #2DAFD7;
            width: 180px;
            height: 1px;
            transform: rotate(90deg);
        }
    }
    &--line-left {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -94px;
            transform: translate(0, -50%);
            background-color: #2DAFD7;
            width: 180px;
            height: 1px;
            transform: rotate(90deg);
        }
    }
    &__caption {
        font-size: 20px;
        line-height: calc(25 / 20 * 100%);
        color: #2DAFD7;
        font-weight: 700;
        font-family: $fontFamilyPoppins;
        letter-spacing: 0.64px;
        padding-bottom: 20px;
        flex: 1 1 auto;
    }
    &__text {
        max-width: 304px;
        letter-spacing: 0.64px;
    }
    &__picture {
        position: relative;
        display: block;
        padding-bottom: 180%;
        margin-top: -65px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -12%;
            object-fit: cover;
        }
    }
}